.root {
  flex-direction: row;
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 12px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 45px;
  display: block !important;
  overflow: hidden;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 121px;
  height: 25px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
