@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-q91pFDoHQ: 4px;
  --plasmic-token-base-grid: var(--token-q91pFDoHQ);
  --token-a-CTISS-m: Verse Sans;
  --plasmic-token-verse-sans: var(--token-a-CTISS-m);
  --token-y4tA92hRO: 56px;
  --plasmic-token-fontsize-title: var(--token-y4tA92hRO);
  --token-RgdDu1Hh0: 24px;
  --plasmic-token-fontsize-title-secondary: var(--token-RgdDu1Hh0);
  --token-vSXkIvU7Y: 85px;
  --plasmic-token-line-height-title: var(--token-vSXkIvU7Y);
  --token-f3Br1_vOD: 42px;
  --plasmic-token-line-height-sub-title: var(--token-f3Br1_vOD);
  --token-ozvY09qqN: #fffaf2;
  --plasmic-token-cream: var(--token-ozvY09qqN);
  --token-jTJN_EzPC: #262b3e;
  --plasmic-token-dark: var(--token-jTJN_EzPC);
  --token-miF_xE-3B: #313453;
  --plasmic-token-dark-blue: var(--token-miF_xE-3B);
  --token-GO2-97K7r: #e65086;
  --plasmic-token-error: var(--token-GO2-97K7r);
  --token-BOCJZvYf1: #50e68c;
  --plasmic-token-success: var(--token-BOCJZvYf1);
  --token-HIDskiH57: #ffffff;
  --plasmic-token-white: var(--token-HIDskiH57);
  --token-VGJCnXm7p: 0.8;
  --plasmic-token-opacity-80: var(--token-VGJCnXm7p);
  --token-H9l7T3VWJ: 0.5;
  --plasmic-token-opacity-50: var(--token-H9l7T3VWJ);
  --token-aFtw5aUI_: 0.3;
  --plasmic-token-opacity-0-3: var(--token-aFtw5aUI_);
}

.plasmic_default_styles {
  --mixin-MRxQu2wUqd_font-family: "Verse Sans";
  --mixin-MRxQu2wUqd_font-size: 16px;
  --mixin-MRxQu2wUqd_font-weight: 400;
  --mixin-MRxQu2wUqd_font-style: normal;
  --mixin-MRxQu2wUqd_color: #313453;
  --mixin-MRxQu2wUqd_text-align: left;
  --mixin-MRxQu2wUqd_text-transform: none;
  --mixin-MRxQu2wUqd_line-height: 26px;
  --mixin-MRxQu2wUqd_letter-spacing: normal;
  --mixin-MRxQu2wUqd_white-space: pre-wrap;
  --mixin-MRxQu2wUqd_user-select: text;
  --mixin-MRxQu2wUqd_text-decoration-line: none;
  --mixin-MRxQu2wUqd_text-overflow: clip;
  --mixin-dk2PA2PCr_font-family: "Verse Sans";
  --mixin-dk2PA2PCr_color: #fffaf2;
  --mixin-dk2PA2PCr_font-size: 56px;
  --mixin-dk2PA2PCr_font-weight: 400;
  --mixin-dk2PA2PCr_letter-spacing: -1%;
  --mixin-dk2PA2PCr_line-height: 85px;
  --mixin-N4da-lMkKY_color: #313453;
  --mixin-N4da-lMkKY_font-family: "Verse Sans";
  --mixin-N4da-lMkKY_text-decoration-line: none;
  --mixin-5Z9aiKu73o_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5Z9aiKu73o_border-bottom-color: #dddddd;
  --mixin-5Z9aiKu73o_border-bottom-style: solid;
  --mixin-5Z9aiKu73o_border-bottom-width: 1px;
  --mixin-5Z9aiKu73o_border-left-color: #dddddd;
  --mixin-5Z9aiKu73o_border-left-style: solid;
  --mixin-5Z9aiKu73o_border-left-width: 1px;
  --mixin-5Z9aiKu73o_border-right-color: #dddddd;
  --mixin-5Z9aiKu73o_border-right-style: solid;
  --mixin-5Z9aiKu73o_border-right-width: 1px;
  --mixin-5Z9aiKu73o_border-top-color: #dddddd;
  --mixin-5Z9aiKu73o_border-top-style: solid;
  --mixin-5Z9aiKu73o_border-top-width: 1px;
  --mixin-5Z9aiKu73o_border-bottom-left-radius: 3px;
  --mixin-5Z9aiKu73o_border-bottom-right-radius: 3px;
  --mixin-5Z9aiKu73o_border-top-left-radius: 3px;
  --mixin-5Z9aiKu73o_border-top-right-radius: 3px;
  --mixin-5Z9aiKu73o_font-family: "Inconsolata";
  --mixin-5Z9aiKu73o_padding-bottom: 1px;
  --mixin-5Z9aiKu73o_padding-left: 4px;
  --mixin-5Z9aiKu73o_padding-right: 4px;
  --mixin-5Z9aiKu73o_padding-top: 1px;
  --mixin-CUTKdKFeBg_border-left-color: #dddddd;
  --mixin-CUTKdKFeBg_border-left-style: solid;
  --mixin-CUTKdKFeBg_border-left-width: 3px;
  --mixin-CUTKdKFeBg_color: #888888;
  --mixin-CUTKdKFeBg_padding-left: 10px;
  --mixin-JSkLQ07abX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JSkLQ07abX_border-bottom-color: #dddddd;
  --mixin-JSkLQ07abX_border-bottom-style: solid;
  --mixin-JSkLQ07abX_border-bottom-width: 1px;
  --mixin-JSkLQ07abX_border-left-color: #dddddd;
  --mixin-JSkLQ07abX_border-left-style: solid;
  --mixin-JSkLQ07abX_border-left-width: 1px;
  --mixin-JSkLQ07abX_border-right-color: #dddddd;
  --mixin-JSkLQ07abX_border-right-style: solid;
  --mixin-JSkLQ07abX_border-right-width: 1px;
  --mixin-JSkLQ07abX_border-top-color: #dddddd;
  --mixin-JSkLQ07abX_border-top-style: solid;
  --mixin-JSkLQ07abX_border-top-width: 1px;
  --mixin-JSkLQ07abX_border-bottom-left-radius: 3px;
  --mixin-JSkLQ07abX_border-bottom-right-radius: 3px;
  --mixin-JSkLQ07abX_border-top-left-radius: 3px;
  --mixin-JSkLQ07abX_border-top-right-radius: 3px;
  --mixin-JSkLQ07abX_padding-bottom: 3px;
  --mixin-JSkLQ07abX_padding-left: 6px;
  --mixin-JSkLQ07abX_padding-right: 6px;
  --mixin-JSkLQ07abX_padding-top: 3px;
  --mixin-4QOj6qnpyA_display: flex;
  --mixin-4QOj6qnpyA_flex-direction: column;
  --mixin-4QOj6qnpyA_align-items: stretch;
  --mixin-4QOj6qnpyA_justify-content: flex-start;
  --mixin-4QOj6qnpyA_list-style-position: outside;
  --mixin-4QOj6qnpyA_padding-left: 40px;
  --mixin-4QOj6qnpyA_position: relative;
  --mixin-4QOj6qnpyA_list-style-type: disc;
  --mixin-opTDlV8e83_display: flex;
  --mixin-opTDlV8e83_flex-direction: column;
  --mixin-opTDlV8e83_align-items: stretch;
  --mixin-opTDlV8e83_justify-content: flex-start;
  --mixin-opTDlV8e83_list-style-position: outside;
  --mixin-opTDlV8e83_padding-left: 40px;
  --mixin-opTDlV8e83_position: relative;
  --mixin-opTDlV8e83_list-style-type: decimal;
  --mixin-owBLzxF8VS_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-MRxQu2wUqd_font-family);
  font-size: var(--mixin-MRxQu2wUqd_font-size);
  font-weight: var(--mixin-MRxQu2wUqd_font-weight);
  font-style: var(--mixin-MRxQu2wUqd_font-style);
  color: var(--mixin-MRxQu2wUqd_color);
  text-align: var(--mixin-MRxQu2wUqd_text-align);
  text-transform: var(--mixin-MRxQu2wUqd_text-transform);
  line-height: var(--mixin-MRxQu2wUqd_line-height);
  letter-spacing: var(--mixin-MRxQu2wUqd_letter-spacing);
  white-space: var(--mixin-MRxQu2wUqd_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-dk2PA2PCr_font-family);
  color: var(--mixin-dk2PA2PCr_color);
  font-size: var(--mixin-dk2PA2PCr_font-size);
  font-weight: var(--mixin-dk2PA2PCr_font-weight);
  letter-spacing: var(--mixin-dk2PA2PCr_letter-spacing);
  line-height: var(--mixin-dk2PA2PCr_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-N4da-lMkKY_color);
  font-family: var(--mixin-N4da-lMkKY_font-family);
  text-decoration-line: var(--mixin-N4da-lMkKY_text-decoration-line);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-5Z9aiKu73o_background);
  font-family: var(--mixin-5Z9aiKu73o_font-family);
  border-radius: var(--mixin-5Z9aiKu73o_border-top-left-radius)
    var(--mixin-5Z9aiKu73o_border-top-right-radius)
    var(--mixin-5Z9aiKu73o_border-bottom-right-radius)
    var(--mixin-5Z9aiKu73o_border-bottom-left-radius);
  padding: var(--mixin-5Z9aiKu73o_padding-top)
    var(--mixin-5Z9aiKu73o_padding-right) var(--mixin-5Z9aiKu73o_padding-bottom)
    var(--mixin-5Z9aiKu73o_padding-left);
  border-top: var(--mixin-5Z9aiKu73o_border-top-width)
    var(--mixin-5Z9aiKu73o_border-top-style)
    var(--mixin-5Z9aiKu73o_border-top-color);
  border-right: var(--mixin-5Z9aiKu73o_border-right-width)
    var(--mixin-5Z9aiKu73o_border-right-style)
    var(--mixin-5Z9aiKu73o_border-right-color);
  border-bottom: var(--mixin-5Z9aiKu73o_border-bottom-width)
    var(--mixin-5Z9aiKu73o_border-bottom-style)
    var(--mixin-5Z9aiKu73o_border-bottom-color);
  border-left: var(--mixin-5Z9aiKu73o_border-left-width)
    var(--mixin-5Z9aiKu73o_border-left-style)
    var(--mixin-5Z9aiKu73o_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-CUTKdKFeBg_color);
  padding-left: var(--mixin-CUTKdKFeBg_padding-left);
  border-left: var(--mixin-CUTKdKFeBg_border-left-width)
    var(--mixin-CUTKdKFeBg_border-left-style)
    var(--mixin-CUTKdKFeBg_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-JSkLQ07abX_background);
  border-radius: var(--mixin-JSkLQ07abX_border-top-left-radius)
    var(--mixin-JSkLQ07abX_border-top-right-radius)
    var(--mixin-JSkLQ07abX_border-bottom-right-radius)
    var(--mixin-JSkLQ07abX_border-bottom-left-radius);
  padding: var(--mixin-JSkLQ07abX_padding-top)
    var(--mixin-JSkLQ07abX_padding-right) var(--mixin-JSkLQ07abX_padding-bottom)
    var(--mixin-JSkLQ07abX_padding-left);
  border-top: var(--mixin-JSkLQ07abX_border-top-width)
    var(--mixin-JSkLQ07abX_border-top-style)
    var(--mixin-JSkLQ07abX_border-top-color);
  border-right: var(--mixin-JSkLQ07abX_border-right-width)
    var(--mixin-JSkLQ07abX_border-right-style)
    var(--mixin-JSkLQ07abX_border-right-color);
  border-bottom: var(--mixin-JSkLQ07abX_border-bottom-width)
    var(--mixin-JSkLQ07abX_border-bottom-style)
    var(--mixin-JSkLQ07abX_border-bottom-color);
  border-left: var(--mixin-JSkLQ07abX_border-left-width)
    var(--mixin-JSkLQ07abX_border-left-style)
    var(--mixin-JSkLQ07abX_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-4QOj6qnpyA_display);
  flex-direction: var(--mixin-4QOj6qnpyA_flex-direction);
  align-items: var(--mixin-4QOj6qnpyA_align-items);
  justify-content: var(--mixin-4QOj6qnpyA_justify-content);
  list-style-position: var(--mixin-4QOj6qnpyA_list-style-position);
  padding-left: var(--mixin-4QOj6qnpyA_padding-left);
  position: var(--mixin-4QOj6qnpyA_position);
  list-style-type: var(--mixin-4QOj6qnpyA_list-style-type);
  flex-column-gap: var(--mixin-4QOj6qnpyA_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-opTDlV8e83_display);
  flex-direction: var(--mixin-opTDlV8e83_flex-direction);
  align-items: var(--mixin-opTDlV8e83_align-items);
  justify-content: var(--mixin-opTDlV8e83_justify-content);
  list-style-position: var(--mixin-opTDlV8e83_list-style-position);
  padding-left: var(--mixin-opTDlV8e83_padding-left);
  position: var(--mixin-opTDlV8e83_position);
  list-style-type: var(--mixin-opTDlV8e83_list-style-type);
  flex-column-gap: var(--mixin-opTDlV8e83_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-owBLzxF8VS_color);
}
